#anime{
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes change {
    /* from{
        background-color: red;
    }
    to{
        background-color: blueviolet;
    } */
    0%{
        background-color: red;
        /* transform: scale(0); */
    }
    20%{
        background-color: brown;
        /* transform: scale(0.5); */
    }
    50%{
        background-color: cadetblue;
        /* transform: scale(0.7); */
    }
    75%{
        background-color: blue;
        /* transform: scale(1); */
    }
    100%{
        background-color: greenyellow;
        /* transform: scale(1.5); */
        transform: rotate(360deg);
        border-radius: 50px;
    }
}